<!-- Home Page -->
<div class="container h-100 aw-shine">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white" data-aos="fade-down-right" data-aos-duration="2000">
        <div style="color: white; margin-top: 5px;">
            <h2 style="font-size:30px">Chefing - Shopping List</h2>
            <hr>
            <div>
                <p>A vos listes !</p>
            </div>
        </div>
        <div style="color: white; margin-top: 15px;">
            <br>
            <img class="aw-shine card-img-top cfg-img" src="../../assets/img/list.png">
            <br>
            <p style="font-size: 16px;">{{intro}}</p>
        </div>
        </div>
    </div>
</div> 