<!-- Header -->
<app-cfg-header-strap [titleHeader]="title" [imgPath]="imgPath" data-aos="fade-up" data-aos-anchor-placement="top-bottom"></app-cfg-header-strap>

<!-- About -->
<div class="cfg-container row container-fluid my-5 py-5 px-4 px-lg-0">
    <div class="cfg-container__left-div col-md-12" data-aos="fade-right" data-aos-duration="1500">
      <p style="font-size: 18px;"><strong>Que faire sur cette application ?</strong></p>
      <p>Bienvenue sur Chefing Shopping List !</p>
      <p>Cette application vous servira à gérer toutes vos listes de courses.</p>
      <p>Grâce à notre catalogue personnalisé, retrouvez plusieurs produits à inserer au sein de vos liste de courses.</p>
      <p>Un produit manque au sein de notre catalogue ? Pas de problème ! Ajoutez le depuis le menu "Ajouter un produit" et ce dernier sera soumis à une validation de la part de nos Administrateurs dans les plus brefs délais !</p>
      <p>Bonne navigation !</p>
    </div>
</div>